HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### START IAC
__pycache__/
*.py[cod]

# C extensions
*.so

*.pem


# autoenv files
.env

terraform/**/*.backup
.terraform
*.tfstate
*.tfplan

/**/.kitchen

ansible/applessbackup
ansible/updater
.python-version
*.retry

# vim swap files
*.swp

# ignore output dict
.output
.idea

### END IAC

.DS_Store
